<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">    
    <!-- 配置c3p0连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
      <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
      <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ssh_crm"></property>
      <property name="user" value="root"></property>
      <property name="password" value="root"></property>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
      <property name="dataSource" ref="dataSource"></property>
      <property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
    </bean>
    
    <!-- 简化写法，使Dao继承HibernateDaoSupport，在dao中注入sessionFactory-->
<!--     <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
     <property name="sessionFactory" ref="sessionFactory"></property>
    </bean> -->
    
    <bean id="transactionManage" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
     <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManage"/>
    

       <!-- 配置action -->
       
       <import resource="classpath:action.xml"/>
       
       
       <!-- 配置Service 注入dao-->
       <bean id="userService" class="cn.lynu.service.UserService">
         <property name="userDao" ref="userDao"></property>
       </bean>
       <bean id="customerService" class="cn.lynu.service.CustomerService">
         <property name="customerDao" ref="customerDao"></property>
       </bean>

       
       <!-- 配置dao 注入hibernateTemplate-->
       <bean id="userDao" class="cn.lynu.dao.impl.UserDaoImpl">
       <!--  <property name="hibernateTemplate" ref="hibernateTemplate"></property> -->
        <property name="sessionFactory" ref="sessionFactory"></property>
       </bean>
       <bean id="customerDao" class="cn.lynu.dao.impl.CustomerDaoImpl">
         <property name="sessionFactory" ref="sessionFactory"></property>
       </bean>

       
   <import resource="classpath:linkman.xml"/>
   <import resource="classpath:visit.xml"/>
   

</beans>